.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh; }

.btn {
  height: 4em;
  width: 4em;
  padding: 1em;
  background-color: #0e9cf3;
  border: none;
  color: #fff;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn .material-icons {
    display: flex;
    justify-content: center; }

.btn__main {
  position: relative;
  z-index: 2; }

.btn-group {
  position: relative; }

.btn-group--options {
  visibility: hidden;
  position: absolute; }

.btn__option {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  margin-bottom: .15em;
  transform: scale(0.8); }
